*{
    margin: 0px;
    font-family: 'Arvo', serif;
}

.header{
    height: 100px;
    margin: 90px;
    margin-top: 0%;
    background-color:rgb(78, 197, 226);
    display: grid;
    grid-template-rows: 50px;
    grid-column: 90px 10px 10px 10px 10px;
}
.logo{ 
    margin-top: 0%;
    width: 150px;
    margin-left: 5px;
}
    
body{
    background: rgb(147, 255, 75);
}
    
ul {display: flex;
    flex-direction: row;
    position: relative;
    bottom: 130px;
    left: 200px;
    padding-left: 5px;
    margin: 10%;
  }

a{
    color: black; padding: 10px;
    font-size: 17px;
}

li{  
    list-style-type:none;
    color: black;
    padding: 10px;
    font-size: 17px;
}



.menu{
    font-size: 17px;
    color: black;
    margin-left: 10px;
}

.titulo{
    font-size: 50px;
    text-align: center;
    padding: 40px;
    padding-top: 80px;
    background-color: beige;
    margin: 30px;
    border: 12px solid black;
}

.opina{
    width: 100px;
    margin-left: 400px;
    padding: 50px;
}

.pareja{
    width: 250px;
    padding: 20px;
}
.fotos{
    width: 250px;
    padding: 20px;
}
p{
    font-size: 20px;
}
.palabras{
    padding-bottom: 200px;
}

.redes{
    width: 60px;
    padding-left: 20px; 
}

.redes-display{ 
    display: flex;
    flex-direction: row-reverse;
    justify-content:space-between;
    padding: 7px;
    padding-left: 100px;

}

h3{ 
    padding-left: 100px;
    
}


.pie{
    background-color:rgb(78, 197, 226);
    margin: 0px;
}
@media(max-width: 780px){
   
    .header{
        margin: 15px;
        margin-top: 0%;
        background-color:rgb(78, 197, 226);
        height: 50px;
    }
    
    .logo{ 
        margin-bottom: 13cm;
        width: 50px;
    }

    ul {display: flex;
        flex-direction: row;
        height: 30px;
        bottom: 82px;
        left: 10px;
        padding-left: 5px;
        margin: 10%;
    }
    
    li{
      list-style-type:none;
      color: black; 
      font-size: 10px;
      
    
    }

    .menu{
        font-size: 8px;
        color: black;
        margin-left: 10px;
        
    }
    .titulo{
        font-size: 25px;
        text-align: center;
        padding: 6px;
        padding-top: 22px;
        background-color: beige;
        border: 5px solid black;
    }

    .pareja{
        width: 200px;
        padding: 20px;
        margin-left: 80px;
    }
    .fotos{
        width: 150px;
        padding: 20px;
        margin-left: 80px;
    }
    p{
        font-size: 15px;
        margin-left: 50px;
    }

}