*{
    margin: 0px;
    font-family: 'Arvo', serif;
}

.header{
    height: 100px;
    margin: 90px;
    margin-top: 0%;
    background-image: radial-gradient(rgb(255, 102, 0),white);
    display: grid;
    grid-template-rows: 50px;
    grid-column: 90px 10px 10px 10px 10px;
}
.logo{ 
    margin-top: 0%;
    width: 150px;
    margin-left: 5px;
    width: 100px; height: 100px;
    transition: all 2s;
}
.logo:hover {
    height: 200px; width: 200px;
    padding: 20px;
    background-color:  rgb(21, 218, 47);
}
    
body{
    background-image: linear-gradient(to left, rgb(102, 219, 102),yellow,blue) ;
}
    
ul {display: flex;
    flex-direction: row;
    position: relative;
    bottom: 130px;
    left: 200px;
    padding-left: 100px;
    margin: 10%;
  }

a{
    color: black; 
    padding: 10px;
    font-size: 17px;
}

li{  
    list-style-type:none;
    color: black;
    padding: 10px;
    font-size: 17px;
    width: 100px; height: 100px;
    transition: all 2s;
}       

li:hover {
    height: 200px; width: 200px;
    padding: 10px;
    background-color: rgb(220, 231, 231);
}



.menu{
    font-size: 17px;
    color: black;
    margin-left: 10px;
}

.titulo{
    font-size: 50px;
    text-align: center;
    padding: 40px;
    padding-top: 80px;
    background-image: radial-gradient(rgb(255, 102, 0),white, rgb(235, 204, 29));
    margin: 30px;
    border: 8px solid black;
    animation-duration: 5s;
    animation-name: aparecer;
    animation-iteration-count:two;
}
 @keyframes aparecer {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
 }

.mainDiv{
    display: grid;
    grid-template-columns: 30% 30%;
    grid-column-gap: 81px;
    margin-left: 308px;
    padding: 20px;

}
.opina{
    width: 100px;
    margin-left: 400px;
    padding: 50px;
}

.pareja{
    width: 250px;
    padding: 20px;
}
.fotos{
    width: 250px;
    padding: 20px;
}
p{
    font-size: 20px;
    padding-top: 30px;
}
.palabras{
    padding-bottom: 200px;
}

.redes{
    width: 60px;
    padding-left: 20px; 
    width: 50px;
    height: 50px;
    background-color: rgba(238, 223, 16, 0.9);
    border: solid 1px;
} 
.redes:hover {
    padding: 20px;
    transform: skewY(25deg)
}

.redes-display{ 
    display: flex;
    flex-direction: row-reverse;
    justify-content:space-between;
    padding: 7px;
    padding-left: 100px;

}

h3{ 
    padding-left: 100px;
    
}


.pie{
    background-image: linear-gradient( blue,green);
    margin: 0px;
}
@media(max-width: 780px){
   
    .header{
        margin: 15px;
        margin-top: 0%;
        background-color:rgb(78, 197, 226);
        height: 50px;
    }
    
    .logo{ 
        margin-bottom: 13cm;
        width: 50px;
        height: 50px;
    }

    ul {display: flex;
        flex-direction: row;
        height: 30px;
        bottom: 82px;
        left: 10px;
        padding-left: 5px;
        margin: 10%;
    }
    
    li{
      list-style-type:none;
      color: black; 
      font-size: 10px;
      
    
    }

    .menu{
        font-size: 8px;
        color: black;
        margin-left: 10px;
        
    }
    .titulo{
        font-size: 25px;
        text-align: center;
        padding: 6px;
        padding-top: 22px;
        background-color: beige;
        border: 5px solid black;
    }

    body{
        background-image: linear-gradient(to left, rgb(102, 219, 102),yellow,blue) ;
    }

    .pareja{
        width: 200px;
        padding: 20px;
        margin-left: 80px;
    }
    .fotos{
        width: 150px;
        padding: 20px;
        margin-left: 80px;
    }
    p{
        font-size: 15px;
        margin-left: 50px;
    }

    .pie{
        background-image: linear-gradient( blue,green);
        margin: 0px;
        margin-bottom: 10px;
        margin-top: 300px;
    }
    

}