<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nosotros</title>
    <link rel="stylesheet" href="../css/estilo-nosotros.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div class="div_logo">
            <a href="../index.html"><img src="../assets/img/images-logo.jpg" alt="logo" class="logo"> </a>   
        </div>
        <div>
            <nav class="lista-de-menu">
                <ul>
                    <li><a href="../index.html" class="menu">HOME</a></li>
                    <li><a href="#" class="menu">NOSOTROS</a></li>
                    <li><a href="productos.html" class="menu">PRODUCTOS</a></li>
                    <li><a href="contacto.html" class="menu">CONTACTO</a></li>
                    <li><a href="opiniones de nuestros clientes.html" class="menu">NUESTROS CLIENTES</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div>
       <main>
            <div>
               <h3 class="titulo">QUIENES SOMOS</h3>
            </div>
           <div>
                <p class="parrafo-nosotros">
                   Somos una empresa de dedicada, donde tenemos como filosofía el cuidado del medio ambiente
                   y el aprovechamiento de la energía del sol, transformando la energía de la naturaleza
                   en energía eléctrica para nuestros clientes. Creemos fuertemente en la innovación y
                   la sustentabilidad como medios para llevar adelante esta nueva forma de hacer energía
                   que avanza día tras día y que nos impulsa dinámicamente a pensar en un futuro más
                   verde, sustentable y sobre todo renovable. Contamos con un equipo de ingenieros 
                   dedicados y capacitados en energías sustentables que buscan constantemente
                   conseguir los mejores resultados.
                </p>
            </div>
            <div>
             <img src="../assets/Img/images (1).jfif" alt="panel flotando" class="imagen-panel">
            </div>
            <div>
              <h4>TE OFRECEMOS</h4>
            </div>
            <div class="lista">
                <nav>
                    <ol>
                       <li><a href="contacto.html" clase="segundaLista">ASINSTENCIA</a></li>
                       <li><a href="productos.html" clase="segundaLista">INSTALACION</a></li>
                       <li><a href="contacto.html" clase="segundaLista">INSPECCION DE SISTEMAS</a></li>
                    </ol>
                </nav>
            </div>
            <div>
                <p>
                 Ayudamos a los propietarios de viviendas residenciales a convertir 
                 sus hogares en energía renovable. Ofrecemos paneles solares de la mejor
                 calidad a un precio asequible y de manera oportuna.
                 Permítanos guiarlo a través del proceso de convertir su hogar en una solución
                 energéticamente independiente.
                </p>
            </div>
        </main>
    </div>
</body>
    <footer class="pie">
        <h3>Redes Sociales</h3>
         <div class="redes-display">
           <a href="https://www.instagram.com/?hl=es-la"  rel="instagram" target="blank"> <img src="../assets/img/insta.jfif" alt="logo intagram" class="redes"> </a>
            <a href="https://www.whatsapp.com/"  rel="whatsapp" target="blank"> <img src="../assets/img/whatsapp.jfif" alt="logo whatsapp" class="redes"> </a>
            <a href="https://www.facebook.com/"  rel="face" target="blank"><img src="../assets/img/facebook.png" alt="facebook" class="redes"> </a>
         </div>
         <div>
           <a href="views/contacto.html"></a>
         </div>
    </footer>    
</html>