<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>opiniones de nuestros clientes</title>
    <link rel="stylesheet" href="../css/estilo-opiniones.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="fondo">
            <a href="../index.html"><img src="../assets/img/images-logo.jpg" alt="logo" class="logo"> </a>   
        <nav>
            <ul>
                <li><a href="../index.html">HOME</a></li>
                <li><a href="nosotros.html">NOSOTROS</a></li>
                <li><a href="productos.html">PRODUCTOS</a></li>
                <li><a href="contacto.html">CONTACTO</a></li>
                <li><a herf="opiniones de nuestros clientes.html">OPINIONES DE NUESTROS CLIENTES</a></li>
                
            </ul>
        </nav>
        </div>
    </header>
         <h2 class="felices">CLIENTES FELICES</h2>
    <div>
        <img src="../assets/img/pareja.jpg" alt="pareja" class="pareja">
    </div>
        <p>
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error doloribus ducimus maxime
           fugit nulla laborum repellendus rerum
           sint voluptas, tempore cupiditate, ipsum harum omnis quod tenetur
           debitis. Impedit, tenetur sed!
        </p>
    <div>
        <img src="../assets/img/Caro.jpg" alt="retrato" class="fotos">
    </div>
    <div>
        <P>
            Cumplió con todas mis expectativas. Realmente
            me gustó mucho el material que encontré, excelente calidad,
            un contenido muy bien estructurado y actualizado”.
        </P>
    </div>
    <div>
        <img src="../assets/Img/juan.jpeg" alt="persona" class="fotos">
    </div>
    <div class="palabras">
        <P>
            Cumplió con todas mis expectativas. Realmente
            me gustó mucho el material que encontré, excelente calidad,
            un contenido muy bien estructurado y actualizado”.
        </P>
    </div>
        <h3>redes sociales</h3>
        <footer class="pie">
            <div class="redes-display">
                    <a href="https://www.instagram.com/?hl=es-la"  rel="instagram" target="blank"> <img src="../assets/img/insta.jfif" alt="logo intagram" class="redes"> </a>
                    <a href="https://www.whatsapp.com/"  rel="whatsapp" target="blank"> <img src="../assets/img/whatsapp.jfif" alt="logo whatsapp" class="redes"> </a>
                    <a href="https://www.facebook.com/"  rel="face" target="blank"><img src="../assets/img/facebook.png" alt="facebook" class="redes"> </a>
                </div>
                 <div>
                    <a href="views/contacto.html"></a>
                </div>
            </div>
            </footer>    
</body>               
</html>