<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PRODUCTOS</title>
    <link rel="stylesheet" href="../css/estilo-productos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="imagen-logo">
          <a href="../index.html"><img src="../assets/img/images-logo.jpg" alt="logo" class="logo"> </a> 
         <nav>
            <ul>
              <li><a href="../index.html">HOME</a></li>
              <li><a href="nosotros.html">NOSOTROS</a></li>
              <li><a href="#">PRODUCTOS</a></li>
              <li><a href="contacto.html">CONTACTO</a></li>
              <li><a href="opiniones de nuestros clientes.html">OPINIONES DE NUESTROS CLIENTES</a></li>
            </ul>
         </nav>
        </div>
    </header> 
        <main>
            <h3 class="titulo">NUSETROS PRODUCTOS SON DE LAS MAS ALTA CALIDAD</h3>
            <div class="tabla">
             <table border="3" cellpadding="8" > 
                  <tr>
                     <th>TAMAÑO</th>
                     <th>MODULOS</th>
                     <th>POTENCIA</th>
                     <th>PRECIO</th>
                    </tr>
                   <tr>
                     <td>SMALL</td>
                     <td>12 Modulos</td>
                     <td>3,9 KWs</td>
                     <td>30.000</td>
                    </tr>
                   <tr>
                     <td>MED</td>
                     <td>18 Modulos</td>
                     <td> 5,85 KWs</td>
                      <td>40.000</td>
                    </tr>  
                   <tr>
                     <td>LARGE</td>
                     <td>12 Modulos</td>
                     <td>7,15 KWs</td>
                     <td>50.000</td>
                   </tr> 
                   <tr>
                     <td>XLARGE</td>
                     <td>12 Modulos</td>
                     <td>9,1 KWs</td>
                     <td>80.000</td>
                    </tr>  
              </table>
            </div>
           <div class="video">
             <link> <iframe width="560" height="315" src="https://www.youtube.com/embed/q5bMAz4NK0c" 
             title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
              gyroscope; picture-in-picture" allowfullscreen></iframe>
           </div>
           <div>
             <img src="../assets/Img/descarga (2).jfif" alt="trabajores" class="trabajadores">
           </div>
            <div>
                <p> 
                   Profesional y experimentado
                   Nuestros expertos altamente capacitados lo ayudarán a construir el sistema 
                   solar perfecto para su hogar.
                 </p>
            </div>
           <div>
             <img src="../assets/Img/panel2.jfif" alt="colocadores" class="colocadores">
           </div>
            <div> 
              <p>
                Paneles solares y baterías
                Somos de propiedad local y operamos con un personal 
                capacitado que lo ayudará a encontrar los mejores paneles y
                 baterías para un sistema altamente efectivo.
              </p>
            </div>
        </main>
           <h3>redes sociales</h3> 
           <footer class="pie">
            <div class="redes-display">
                    <a href="https://www.instagram.com/?hl=es-la"  rel="instagram" target="blank"> <img src="../assets/img/insta.jfif" alt="logo intagram" class="redes"> </a>
                    <a href="https://www.whatsapp.com/"  rel="whatsapp" target="blank"> <img src="../assets/img/whatsapp.jfif" alt="logo whatsapp" class="redes"> </a>
                    <a href="https://www.facebook.com/"  rel="face" target="blank"><img src="../assets/img/facebook.png" alt="facebook" class="redes"> </a>
                </div>
                 <div>
                    <a href="views/contacto.html"></a>
                </div>
            </div>
            </footer> 
</body>
</html>    